@font-face {
  font-family: Inter ;
  src: url("./asset//fonts/Inter-VariableFont_slnt\,wght.ttf");
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Inter;
  
}

p{
  line-height: 150%;
}


@media (min-width: 670px) {
  body {
    margin: 0;
    font-size: 18px;
    font-family: Inter;
  }
}

